.header {
  background-image: url(/asset/images/image-hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 1.875rem;
  padding-bottom: 15.375rem;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navbar {
    .header__logo {
    }
  }

  &__nav {
    display: none;
  }
}

.mobile--nav {
  background-color: white;
  width: 100%;

  border-radius: 5px;
  // transform: translateX(-100%);
  margin-top: 2.25rem;
  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    color: black;
    padding: 1.75rem 1.5rem;
    transition: all 250ms ease-in;
    font-weight: 500;
    &:not(:last-child) {
      border-bottom: 1px solid lightgrey;
    }
  }

  a:hover {
    background-color: lightgrey;
    padding-left: 2rem;
  }
}

.header__close {
  display: none;
}
